RewriteEngine On
RewriteBase /

# Wenn die Datei existiert, liefere sie direkt aus
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Nur wenn sie NICHT existiert, gehe zur index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]