@if (ui.showJobModal()) {
<div class="mini-modal-overlay" (click)="ui.closeJob()">
	<div class="mini-modal-content" (click)="$event.stopPropagation()">
		<div class="modal-header">
			<span class="code-text">JOB: {{ ui.selectedJob()?.title }}</span>
			<app-neon-button variant="link" class="modal-close-neon" (click)="ui.closeJob()">X</app-neon-button>
		</div>
		<div class="modal-body">
			<h3>{{ ui.selectedJob()?.title }}</h3>
			<p>{{ ui.selectedJob()?.description }}</p>
		</div>
		<a [href]="'tel:' + ui.selectedJob()?.phone" class="apply-btn call-link">PILOT KONTAKTIEREN</a>
	</div>
</div>
}

@if (ui.showNewsModal()) {
<div class="mini-modal-overlay" (click)="ui.closeNews()">
	<div class="mini-modal-content" (click)="$event.stopPropagation()">
		<div class="modal-header">
			<span class="code-text">SYSTEM: {{ ui.selectedNews()?.urgent ? "CRITICAL" : "INFO" }}</span>
			<app-neon-button variant="link" class="modal-close-neon" (click)="ui.closeNews()">X</app-neon-button>
		</div>
		<div class="modal-body">
			<h3 [style.color]="ui.selectedNews()?.urgent ? '#ff4444' : '#d98324'">{{ ui.selectedNews()?.title }}</h3>
			<p class="desc">{{ ui.selectedNews()?.description }}</p>
			<button class="apply-btn" (click)="ui.closeNews()">Close</button>
		</div>
	</div>
</div>
}

@if (ui.showContactModal()) {
<div class="mini-modal-overlay" (click)="ui.closeContact()">
	<div class="mini-modal-content" (click)="$event.stopPropagation()">
		<div class="modal-header">
			<span class="code-text">CONTACT</span>
			<app-neon-button variant="link" class="modal-close-neon" (click)="ui.closeContact()">X</app-neon-button>
		</div>
		<div class="modal-body">
			<h3>MODAL_TARGET: {{ ui.selectedContact()?.title }}</h3>
			<div class="form-group">
				<input [ngModel]="ui.userName()" (ngModelChange)="ui.userName.set($event)" placeholder="NAME_IDENTIFIER"
					class="cyber-input" />
				<input [ngModel]="ui.userMail()" (ngModelChange)="ui.userMail.set($event)" placeholder="EMAIL"
					class="cyber-input" />
				<textarea [ngModel]="ui.userMessage()" (ngModelChange)="ui.userMessage.set($event)"
					placeholder="MESSAGE..." class="cyber-input"></textarea>
			</div>
			<button class="apply-btn" [disabled]="!ui.userName() || !ui.userMail()" (click)="ui.closeContact()">DATEN
				ÜBERMITTELN</button>
		</div>
	</div>
</div>
}

@if (ui.selectedIngredientInfo(); as details) {
<div class="mini-modal-overlay" (click)="ui.closeIngredients()">
	<div class="mini-modal-content" (click)="$event.stopPropagation()">

		<div class="modal-header">
			<span class="code-text">DATA: {{ ui.isSauceMode() ? 'SAUCEN' : 'INHALTSSTOFFE' }}</span>
			<app-neon-button variant="link" class="modal-close-neon" (click)="ui.closeIngredients()">
				X
			</app-neon-button>
		</div>

		<div class="modal-body custom-scrollbar">
			<h3>Inhaltsstoffe</h3>

			<div class="table-container custom-scrollbar">
				<table class="cyber-table">
					<thead>
						<tr>
							<th class="col-name">KOMPONENTE</th>
							<th class="col-detail">DETAILS / ALLERGENE</th>
						</tr>
					</thead>
					<tbody>
						@for (info of details; track info.id) {
						<tr>
							<td class="col-name">{{ info.name }}</td>
							<td class="col-detail">
								{{ info.detail || 'Keine Angabe' }}
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
}
