@use '../styles/variables' as v;

@keyframes rotateGlow {
    0% {
        transform: rotate(0deg) scale(0.7);
        box-shadow: 0 0 15px v.$imbiss-orange, inset 0 0 10px rgba(0, 0, 0, 0.5);
    }

    50% {
        transform: rotate(180deg) scale(0.3);
        box-shadow: 0 0 5px v.$imbiss-orange, inset 0 0 5px rgba(0, 0, 0, 0.3);
    }

    100% {
        transform: rotate(360deg) scale(0.7);
        box-shadow: 0 0 15px v.$imbiss-orange, inset 0 0 10px rgba(0, 0, 0, 0.5);
    }
}