<div class="scroll-viewport no-print">
	<main class="legal-container">
		<section class="main-section">
			<h1>Impressum</h1>

			<div class="legal-block">
				<p><strong>Riesenimbiss UG (haftungsbeschränkt)</strong></p>
				<p>Dr.-Scheider-Straße 36<br />
					Gebäude 44<br />
					01589 Riesa</p>
			</div>

			<div class="legal-block">
				<p>Handelsregister: HRB 46505<br />
					Registergericht: Amtsgericht Dresden</p>
			</div>

			<div class="legal-block">
				<h2>Vertreten durch</h2>
				<p>Geschäftsführer: Farhad Wasiri</p>
			</div>

			<div class="legal-block">
				<h2>Kontakt</h2>
				<p>Telefon: <a href="tel:+4935256577365">03525/6577365</a><br />
					E-Mail: <a href="mailto:riesa@riesenimbiss.de">riesa&#64;riesenimbiss.de</a></p>
			</div>

			<div class="legal-block">
				<h2>Verbraucherstreitbeilegung</h2>
				<p>Nehmen wir als Kleinunternehmen nicht teil.</p>
			</div>

			<footer class="legal-footer">
				<p>Quelle: <a href="https://www.e-recht24.de" target="_blank">e-recht24.de</a></p>
			</footer>
		</section>
	</main>
</div>